a.bm {
  padding-left: 20px;
  margin: 0 0.4em;
  line-height: 20px;
}

a.delirious {
  background:  url(ico/delirious.png) center left no-repeat;
}

a.delicious {
  background:  url(ico/delicious.png) center left no-repeat;
}

a.digg {
  background:  url(ico/digg.png) center left no-repeat;
}

a.furl {
  background:  url(ico/furl.png) center left no-repeat;
}

a.spurl {
  background:  url(ico/spurl.png) center left no-repeat;
}

a.simpy {
  background:  url(ico/simpy.png) center left no-repeat;
}

a.yahoo {
  background:  url(ico/yahoo.png) center left no-repeat;
}

a.reddit {
  background:  url(ico/reddit.png) center left no-repeat;
}

a.blinklist {
  background:  url(ico/blinklist.gif) center left no-repeat;
}

a.blogmarks {
  background:  url(ico/blogmarks.png) center left no-repeat;
}

a.google {
  background:  url(ico/google.gif) center left no-repeat;
}

a.magnolia {
  background:  url(ico/magnolia.png) center left no-repeat;
}


